<!DOCTYPE html>
<html>
    <head>
        <title>TEi-LS Data Tracker</title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-3">u
                </div>
                <div class="col-xs-9">k
                    <div class="row">
                        <div class="col-xs-6">momo
                            <div class="row">
                                <div class="col-xs-6">a
                                </div>
                                <div class="col-xs-6">b
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">wowo
                            <div class="row">
                                <div class="col-xs-6">c
                                </div>
                                <div class="col-xs-6">d
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
